In [1]:
import os
from os import path
import sqlite3
global_sqlite_filename='apf.db'
import pandas
from datetime import datetime, timedelta
import numpy as np
from astropy.time import Time
from sqlalchemy import create_engine
import pytz
import numpy as np

In [2]:
class col_types:
    def __init__(self):
        self.TEXT = 'TEXT'
        self.INTEGER = 'INTEGER'
        self.REAL = 'REAL'
        self.BLOB = 'BLOB'
        self.NULL = 'NULL'
        
ct = col_types()
print(ct.TEXT)

#print(os.getcwd())
#print(os.listdir())

TEXT

In [3]:
def create_database(sqlite_filename=global_sqlite_filename):
    conn = sqlite3.connect(sqlite_filename)
    cursor = conn.cursor()
    return cursor
       
def get_telemetry_columns():
    columns = {'DateTime': ct.TEXT, 
                  'TARGET': ct.NULL,
                  'MIDPTFIN': ct.REAL,
                  'AZ': ct.REAL,
                  'EL': ct.REAL,
                  'AZENCPOS': ct.REAL,
                  'ELENCPOS': ct.REAL,
                  'AZENCVEL': ct.REAL,
                  'ELENCVEL': ct.REAL,
                  'AZFLWERR': ct.REAL,
                  'ELFLWERR': ct.REAL,
                  'OUTFILE': ct.REAL,
                  'OBSNUM': ct.REAL,
                  'MODE': ct.REAL,
                  'AVG_FWHM': ct.REAL,
                  'M5WIND': ct.REAL,
                  'M5WINDAZ': ct.REAL,
                  'TAVERAGE': ct.REAL,
                  'TM1S210': ct.REAL,
                  'TM2CAIR': ct.REAL,
                  'OFFSET_AZ': ct.REAL,
                  'OFFSET_EL': ct.REAL,
                  'RMSOFFSET_AZ': ct.REAL,
                  'RMSOFFSET_EL': ct.REAL,
                  'AVGOFFSET_AZ': ct.REAL,
                  'AVGOFFSET_EL': ct.REAL,
                  'HATCHPOS': ct.TEXT,
                  'EVENT': ct.TEXT}    
    return columns
    
def get_velocity_columns():
    columns = [('MdptJulian', ct.REAL),
               ('velocity', ct.REAL),
               ('velocity_error', ct.REAL),
               ('stellar_activity1', ct.REAL),
               ('stellar_activity2', ct.REAL),
               ('total_counts', ct.REAL),
               ('brad_doesnt_know', ct.REAL),
               ('DateTimeUTC', ct.TEXT),
               ('DateTimeLocal', ct.TEXT),
               ('starID', ct.TEXT)
              ]
    return columns
    
def create_telemetry_table(cursor):        
    columns = get_telemetry_columns()
    l = ['{} {}'.format(k,v) for (k, v) in columns.items()]
    print(len(l))
    full_list = ', '.join(l)
    sql_create_string = 'CREATE TABLE telemetry (' + full_list + ', PRIMARY KEY (DateTime))'
    print(sql_create_string)        
    cursor.execute(sql_create_string)

    return


def create_velocity_table(cursor):
    columns = get_velocity_columns()
    l = ['{} {}'.format(k,v) for (k, v) in columns]
    full_list = ', '.join(l)
    sql_create_string = 'CREATE TABLE velocity (' + full_list + ', PRIMARY KEY (DateTimeLocal))'
    print(sql_create_string)  
    cursor.execute(sql_create_string)

    return

def open_connection(sqlite_filename=global_sqlite_filename):
    dburi = 'file:{}?mode=rw'.format(sqlite_filename)
    conn = sqlite3.connect(dburi, uri=True)
    return conn

In [4]:
conn = open_connection()
cursor = conn.cursor()
#create_telemetry_table(cursor)
#create_velocity_table(cursor)

In [5]:
def populate_telemetry_table(conn, filenames):
    for csv_file in filenames:
        try:
            df = pandas.read_csv(csv_file, 
                               sep='\t', skiprows=1, header=None, names=get_telemetry_columns(), comment='#')
            df.to_sql('telemetry', conn, if_exists='append', index=False)
            
        except Exception as e:
            print(csv_file)
            print(e)

def populate_telemetry(conn=None, dirname=None, batchsize=5):
    filenames = [os.path.join(dirname, x) for x in os.listdir(dirname)]
    filenames.sort()
    
    def batch(iterable, n=1):
        l = len(iterable)
        for ndx in range(0, l, n):
            yield iterable[ndx : min(ndx + n, l)]
    
    for file_batch in batch(filenames, n=batchsize):
        populate_telemetry_table(conn, file_batch)

In [6]:
#populate_telemetry(conn, '../telemetry_data', batchsize=10)

In [7]:
def load_velocity_csv(dirname, filename):
    full_path = os.path.join(dirname, filename)
    columns = get_velocity_columns()[:-2] # leave off the last two column names
                                        # because we're calculating them below.
    df = pandas.read_csv(full_path, sep='\s+',
            names=[x[0] for x in columns]) 
                                                
    return df
    
    
california_tzinfo = pytz.timezone('US/Pacific')

# returns a string for a single julian date. Couldn't figure out how to vectorize.
def convert_julian_to_datetime_local(juliantime):
    times = Time(juliantime, format='jd')
    full_iso = times.to_datetime(timezone=california_tzinfo).isoformat()
    return full_iso[:-6]

# takes in an array of julian dates. Returns an array of local isot strings.
def make_array_of_local_datetimes(julian_array):
    output_array = output_array = np.chararray(len(julian_array), itemsize=26, unicode=True)
    for i, julian_time in enumerate(julian_array):
        output_array[i] = convert_julian_to_datetime_local(julian_time)
    return output_array
    

def convert_julian_to_datetime_utc(juliantimes):
    times = Time(juliantimes, format='jd')
    return times.isot 
    
def add_calculated_columns(df, filename):
    new_df = df.copy()
    #datetimes = convert_julian_to_datetime(new_df.MdptJulian)
    new_df['DateTimeUTC'] = convert_julian_to_datetime_utc(new_df.MdptJulian)
    new_df['DateTimeLocal'] = make_array_of_local_datetimes(new_df.MdptJulian)
    new_df['starID'] = [filename] * len(new_df.index) 
    
    return new_df
    

def populate_velocity(conn, dirname='../standard_star_velocity_measurements/', debug=False):
    filenames = ['HD10700_APF.vels', 'HD185144_APF.vels', 'HD9407_APF.vels']
    for file in filenames:
        print('started {}'.format(file))
        df_incomplete = load_velocity_csv(dirname, file)
        df_complete = add_calculated_columns(df_incomplete, file)
        if debug:
            print(df_complete)
        else: 
            df_complete.to_sql('velocity', conn, if_exists='append', index=False)
        print('tried to add {} entries to \'velocity\''.format(len(df_complete)))

#velocity_df = load_velocity_csv('../standard_star_velocity_measurements/', 'HD10700_APF.vels')
#add_calculated_columns(velocity_df, 'HD10700_APF.vels' )

In [9]:
#populate_velocity(conn)

started HD10700_APF.vels
tried to add 755 entries to 'velocity'
started HD185144_APF.vels
tried to add 1655 entries to 'velocity'
started HD9407_APF.vels
tried to add 694 entries to 'velocity'

In [8]:
# create additional calculated columns on velocity
engine = create_engine('sqlite:///apf.db', echo=False)

In [9]:
#add new table telemetrytimelookup
def drop_telemetry_time_lookup(engine):
    engine.execute("""DROP TABLE IF EXISTS telemetry_time_lookup;""")
    print('dropped telemetry_time_lookup.')

def create_telemetry_time_lookup(engine):
    engine.execute("""
    CREATE TABLE telemetry_time_lookup (
    DateTime TEXT PRIMARY KEY,
    YearMonthDayHour REAL,
    EpocSeconds REAL,
    Event TEXT,
    ExposureID TEXT,
    FOREIGN KEY (DateTime) REFERENCES telemetry(DateTime) 
    )""")
    print('created telemetry_time_lookup.')

def populate_telemetry_time_lookup(engine):   
    engine.execute("""INSERT INTO telemetry_time_lookup (DateTime,
        YearMonthDayHour, EpocSeconds, Event) 
    SELECT t.DateTime, strftime('%Y-%m-%d-%H', t.datetime), strftime('%s', t.DateTime), t.Event
    from telemetry t
    """)
    print('populated created telemetry_time_lookup.')
    

def create_index_in_telemetry_time_lookup(engine):
    engine.execute("""CREATE INDEX idx_yearmonthdayhour ON 
        telemetry_time_lookup(YearMonthDayHour, EpocSeconds)
    """)
    print('created index on YearMonthDayHour in TTC.')
    
#drop_telemetry_time_lookup(engine)
#create_telemetry_time_lookup(engine)
#populate_telemetry_time_lookup(engine)
#create_index_in_telemetry_time_lookup(engine)

df = pandas.read_sql_query("""select epocseconds - 1436589861.0, event from (select * from telemetry_time_lookup
    where YearMonthDayHour = '2015-07-11-04') 
    where event != 'ExposureBegin' 
    and epocseconds - 1436589861.0 < 0
    order by  abs(1436589861.0 - epocseconds) 
    limit 1
    """, con=engine)
pandas.set_option('precision', 18)
print(df)

   epocseconds - 1436589861.0       Event
0                       -38.0  EraseBegin

In [91]:
def drop_vel_telemetry_stats(engine):
    engine.execute("""DROP TABLE IF EXISTS vel_telemetry_stats;""")
    print('dropped vel_telemetry_stats.')

def create_vel_telemetry_stats(engine):
    engine.execute("""
    CREATE TABLE vel_telemetry_stats (
                  DateTimeLocal TEXT PRIMARY KEY,
                  YearMonthDayHour TEXT,
                  EpocSeconds REAL,
                  ExposureID TEXT,
                  exposure_begin_datetime TEXT,
                  exposure_end_datetime TEXT
                  EL_AVG REAL, EL_STD REAL,
                  AZENCPOS_AVG REAL, AZENCPOS_STD REAL
                  ELENCPOS_AVG REAL, ELENCPOS_STD REAL,
                  AZENCVEL_AVG REAL, AZENCVEL_STD REAL,
                  ELENCVEL_AVG REAL, ELENCVEL_STD REAL,
                  AZFLWERR_AVG REAL, AZFLWERR_STD REAL,
                  ELFLWERR_AVG REAL, ELFLWERR_STD REAL,
                  AVG_FWHM_AVG REAL, AVG_FWHM_STD REAL,
                  M5WIND_AVG REAL, M5WIND_STD REAL,
                  M5WINDAZ_AVG REAL, M5WINDAZ_STD REAL,
                  TAVERAGE_AVG REAL, TAVERAGE_STD REAL,
                  TM1S210_AVG REAL, TM1S210_STD REAL,
                  TM2CAIR_AVG REAL, TM2CAIR_STD REAL,
                  OFFSET_AZ_AVG REAL, OFFSET_AZ_STD REAL,
                  OFFSET_EL_AVG REAL, OFFSET_EL_STD REAL,
                  RMSOFFSET_AZ_AVG REAL, RMSOFFSET_AZ_STD REAL,
                  RMSOFFSET_EL_AVG REAL, RMSOFFSET_EL_STD REAL,
                  AVGOFFSET_AZ_AVG REAL, AVGOFFSET_AZ_STD REAL,
                  AVGOFFSET_EL_AVG REAL, AVGOFFSET_EL_STD REAL,
                  Delta_temp_from_begin_night REAL, 
    FOREIGN KEY (DateTimeLocal) REFERENCES velocity(DateTimeLocal) 
    )""")
    print('created vel_telemetry_stats')
    return

def get_begin_end_exposure_datetimes(YearMonthDayHour, epocseconds, engine):
    df_begin = pandas.read_sql_query("""select epocseconds - {}, event from (select * from telemetry_time_lookup
    where YearMonthDayHour = {1}) 
    where event != 'ExposureBegin' 
    and epocseconds - {0} < 0
    order by  abs({0} - epocseconds) 
    limit 1
    """.format(), con=engine)
    
    df_end = pandas.read_sql_query("""select epocseconds - {}, event from (select * from telemetry_time_lookup
    where YearMonthDayHour = {1}) 
    where event != 'ExposureBegin' 
    and epocseconds - {0} > 0
    order by  abs({0} - epocseconds) 
    limit 1
    """.format(), con=engine)
    
    return df_begin, df_end

def populate_only_datetime_vts(engine):
    engine.execute("""Insert into vel_telemetry_stats
                                    (DateTimeLocal, YearMonthDayHour, EpocSeconds)
                                    select v.DateTimeLocal, 
                                        strftime('%Y-%m-%d-%H', v.DateTimeLocal), 
                                        strftime('%s', v.DateTimeLocal)
                                    from velocity v
                                    where v.DateTimeLocal > "2015-01-01T17:00:00" """)
    print(pandas.read_sql_query("""select * from vel_telemetry_stats order by datetimelocal desc limit 10""", engine))
    
def get_begin_end_times(engine, VelocityDateTime, printstuff=False):
    DateTime = VelocityDateTime
    if printstuff:
        print('central datetime: {}'.format(DateTime))
        
    def make_sql(DateTime, TrueForBefore=True):
        if TrueForBefore:
            greaterthan = '<'
            ordering = 'desc'
        else:
            greaterthan = '>'
            ordering = 'asc'
        output = """select datetime, epocseconds - strftime("%s", "{0}"), event from 
            (select * from telemetry_time_lookup where 
            YearMonthDayHour =  strftime('%Y-%m-%d-%H', "{0}" ) 
        union all
            select * from telemetry_time_lookup where 
            YearMonthDayHour = (select yearmonthdayhour from telemetry_time_lookup 
                where YearMonthDayHour {1} strftime('%Y-%m-%d-%H', "{0}") order by 
                YearMonthDayHour {2} limit 1)
            ) 
         where event != 'ExposureBegin' 
            and epocseconds - strftime("%s", "{0}") {1} 0
            order by  abs(strftime("%s", "{0}") - epocseconds) 
            limit 1""".format(DateTime, greaterthan, ordering)
        
        return output
    
    if printstuff:
        print(make_sql(VelocityDateTime, TrueForBefore=True))
    
    df_begin = pandas.read_sql_query(make_sql(VelocityDateTime, TrueForBefore=True), engine)
    df_begin1 = pandas.read_sql_query("""select datetime, epocseconds - strftime("%s", "{0}"), event from 
            (select * from telemetry_time_lookup where 
            YearMonthDayHour =  strftime('%Y-%m-%d-%H', "{0}" ) 
        union all
            select * from telemetry_time_lookup where 
            YearMonthDayHour = (select yearmonthdayhour from telemetry_time_lookup 
                where YearMonthDayHour < strftime('%Y-%m-%d-%H', "{0}") order by 
                YearMonthDayHour desc limit 1)
            ) 
         where event != 'ExposureBegin' 
            and epocseconds - strftime("%s", "{0}") < 0
            order by  abs(strftime("%s", "{0}") - epocseconds) 
            limit 1
    """.format(DateTime), engine) 
    
    df_end = pandas.read_sql_query(make_sql(VelocityDateTime, TrueForBefore=False), engine)
    df_end1 = pandas.read_sql_query("""select datetime, epocseconds - strftime("%s", "{0}"), event from 
        (select * from telemetry_time_lookup where 
        YearMonthDayHour =  strftime('%Y-%m-%d-%H', "{0}" )) 
        where event != 'ExposureBegin' 
        and epocseconds - strftime("%s", "{0}") > 0
        order by  abs(strftime("%s", "{0}") - epocseconds) 
        limit 1
    """.format(DateTime), engine) 
    
    if printstuff:
        print('just prior time: {}'.format(df_begin))
        print(df_end)
    
    just_prior_timestamp = df_begin.DateTime[0]
    just_after_timestamp = df_end.DateTime[0]
   
    
    first_timestamp =  pandas.read_sql_query("""
    select DateTime from telemetry_time_lookup where
    datetime > "{}" limit 1
    """.format(just_prior_timestamp), engine).DateTime[0]
    
    last_timestamp =  pandas.read_sql_query("""
    select DateTime from telemetry_time_lookup where
    datetime < "{}" order by DateTime desc limit 1
    """.format(just_after_timestamp), engine).DateTime[0]
    
    if printstuff:
        print(just_prior_timestamp, just_after_timestamp)
        print(first_timestamp, last_timestamp)
    
    return first_timestamp, last_timestamp
    

def populate_begin_end_times(engine, printstuff=False):
    
    
    velocity_times = pandas.read_sql_query("""
                SELECT DateTimeLocal from velocity 
                where DateTimeLocal > "2015-01-01T16:00:00"
    """, engine).DateTimeLocal 
    
    for v_timestamp in velocity_times[:200]:
        begin_time, end_time = get_begin_end_times(engine, v_timestamp)
        if printstuff:
            print(begin_time, end_time)
    
    #print(velocity_times)

#drop_vel_telemetry_stats(engine)
#create_vel_telemetry_stats(engine)
#populate_only_datetime_vts(engine)

populate_begin_end_times(engine, printstuff=True)



#get_begin_end_times(engine, VelocityDateTime='2015-07-20T04:00:58.463989', printstuff=False)
#get_begin_end_times(engine, VelocityDateTime='2015-07-25T03:55:50.016014')

2015-01-25T18:47:40.1530 2015-01-25T18:47:54.1569
2015-07-11T04:43:44.0315 2015-07-11T04:45:00.0195
2015-07-11T04:45:44.5452 2015-07-11T04:47:01.0343
2015-07-13T04:17:15.0322 2015-07-13T04:18:33.0361
2015-07-13T04:19:17.8070 2015-07-13T04:20:39.0369
2015-07-20T03:55:33.6658 2015-07-20T03:59:05.0059
2015-07-20T03:59:50.1636 2015-07-20T04:01:53.0244
2015-07-25T03:52:37.8557 2015-07-25T03:53:10.0094
2015-07-25T03:53:56.0402 2015-07-25T03:54:47.0661
2015-07-25T03:55:33.6542 2015-07-25T03:56:09.0254
2015-07-25T03:56:54.7438 2015-07-25T03:57:38.6509
2015-07-25T03:58:24.0362 2015-07-25T03:58:56.0466
2015-07-27T03:30:37.8269 2015-07-27T03:33:01.0593
2015-07-27T03:33:47.0306 2015-07-27T03:36:06.7471
2015-07-31T03:59:47.0480 2015-07-31T04:00:28.0355
2015-07-31T04:01:13.0687 2015-07-31T04:01:57.0545
2015-07-31T04:02:42.0591 2015-07-31T04:03:26.0637
2015-07-31T04:04:11.0542 2015-07-31T04:04:55.0479
2015-07-31T04:05:39.8142 2015-07-31T04:06:22.0562
2015-08-03T03:05:09.0257 2015-08-03T03:05:46.0466
2015-08-03T03:06:31.0351 2015-08-03T03:07:10.0313
2015-08-03T03:07:55.0254 2015-08-03T03:08:32.0241
2015-08-03T03:09:17.0316 2015-08-03T03:09:55.6291
2015-08-03T03:10:41.0304 2015-08-03T03:11:18.0265
2015-08-05T03:10:22.0369 2015-08-05T03:10:37.0343
2015-08-05T03:11:23.0262 2015-08-05T03:11:41.0294
2015-08-05T03:12:26.0477 2015-08-05T03:12:39.0274
2015-08-05T03:13:24.0344 2015-08-05T03:13:35.0320
2015-08-05T03:14:19.4091 2015-08-05T03:14:42.0509
2015-08-10T02:33:46.0426 2015-08-10T02:35:21.0364
2015-08-10T02:36:07.7235 2015-08-10T02:37:46.0534
2015-08-14T02:10:37.5900 2015-08-14T02:11:30.9664
2015-08-14T02:12:16.0503 2015-08-14T02:13:16.0434
2015-08-14T02:14:00.2797 2015-08-14T02:15:00.0278
2015-08-20T01:56:40.9672 2015-08-20T01:57:38.9690
2015-08-20T01:58:24.9541 2015-08-20T01:59:19.9690
2015-08-20T02:00:05.9791 2015-08-20T02:00:57.9496
2015-08-25T01:29:39.0271 2015-08-25T01:30:34.0251
2015-08-25T01:31:20.0314 2015-08-25T01:32:14.0338
2015-08-25T01:33:00.0251 2015-08-25T01:33:55.0413
2015-08-29T01:34:54.0435 2015-08-29T01:35:49.0261
2015-08-29T01:36:34.1238 2015-08-29T01:37:18.0334
2015-08-29T01:38:03.0314 2015-08-29T01:38:47.0440
2015-08-29T01:39:32.7416 2015-08-29T01:40:19.0366
2015-08-29T01:41:05.0300 2015-08-29T01:41:53.0352
2015-09-05T01:05:44.0319 2015-09-05T01:06:36.0299
2015-09-05T01:07:21.0340 2015-09-05T01:08:11.0391
2015-09-05T01:08:56.0464 2015-09-05T01:09:42.0382
2015-09-05T01:10:28.0214 2015-09-05T01:11:11.0436
2015-09-05T01:11:57.0354 2015-09-05T01:12:47.4527
2015-09-07T00:40:00.0239 2015-09-07T00:41:39.0362
2015-09-07T00:42:23.3849 2015-09-07T00:44:09.0373
2015-09-10T05:24:01.8603 2015-09-10T05:24:34.2671
2015-09-10T05:25:26.6128 2015-09-10T05:26:04.2597
2015-09-10T05:26:50.7564 2015-09-10T05:27:29.2563
2015-09-15T05:05:13.6490 2015-09-15T05:06:08.6403
2015-09-15T05:06:53.3799 2015-09-15T05:07:58.6480
2015-09-15T05:08:43.4256 2015-09-15T05:10:03.6499
2015-09-19T23:48:56.0519 2015-09-19T23:49:42.9231
2015-09-19T23:50:29.6407 2015-09-19T23:51:17.9249
2015-09-19T23:52:07.9155 2015-09-19T23:52:52.9190
2015-09-19T23:53:38.3062 2015-09-19T23:54:27.9192
2015-09-19T23:55:15.3220 2015-09-19T23:56:02.9222
2015-09-25T23:26:43.7615 2015-09-25T23:27:35.0472
2015-09-25T23:28:25.0576 2015-09-25T23:29:20.0716
2015-09-25T23:30:07.6159 2015-09-25T23:31:05.0965
2015-09-25T23:31:52.9020 2015-09-25T23:32:55.1039
2015-09-25T23:33:41.3833 2015-09-25T23:34:30.1021
2015-10-02T23:03:47.8483 2015-10-02T23:08:26.8915
2015-10-02T23:09:14.9627 2015-10-02T23:13:56.9022
2015-10-02T23:14:45.1049 2015-10-02T23:18:46.9001
2015-10-05T02:44:45.1353 2015-10-05T02:47:52.8072
2015-10-05T02:48:40.2517 2015-10-05T02:51:52.8151
2015-10-05T02:52:40.3783 2015-10-05T02:55:42.8160
2015-10-09T02:55:36.7376 2015-10-09T03:03:05.0703
2015-10-09T03:03:52.0122 2015-10-09T03:08:45.0653
2015-10-09T03:09:33.7986 2015-10-09T03:13:10.0674
2015-10-09T03:13:58.3411 2015-10-09T03:18:00.0635
2015-10-09T03:18:44.7111 2015-10-09T03:21:40.0635
2015-10-11T22:24:10.2585 2015-10-11T22:27:22.8507
2015-10-11T22:28:12.8589 2015-10-11T22:31:27.8545
2015-10-11T22:32:14.5083 2015-10-11T22:35:27.8589
2015-10-20T21:50:08.2403 2015-10-20T21:54:54.7996
2015-10-20T21:55:44.7952 2015-10-20T22:00:29.8043
2015-10-20T22:01:18.7359 2015-10-20T22:06:04.7952
2015-10-20T22:06:58.3941 2015-10-20T22:11:59.8033
2015-10-20T22:12:49.7946 2015-10-20T22:17:24.7935
2015-10-24T21:37:26.2620 2015-10-24T21:54:49.3096
2015-10-24T21:57:07.6460 2015-10-24T22:14:13.6485
2015-10-24T22:17:51.5248 2015-10-24T22:35:45.0300
2015-10-24T22:56:00.1799 2015-10-24T23:15:56.0402
2015-11-04T19:53:31.6985 2015-11-04T19:54:48.8394
2015-11-04T19:55:35.8177 2015-11-04T19:56:58.8471
2015-11-06T20:38:59.5712 2015-11-06T20:39:23.3240
2015-11-06T20:40:11.7640 2015-11-06T20:40:38.3362
2015-11-06T20:41:22.8432 2015-11-06T20:41:48.3298
2015-11-06T20:42:34.9980 2015-11-06T20:43:03.3334
2015-11-06T20:43:53.3384 2015-11-06T20:44:13.3294
2015-11-11T21:46:56.0587 2015-11-11T21:47:33.2035
2015-11-11T21:48:17.3480 2015-11-11T21:48:53.2028
2015-11-11T21:49:43.1962 2015-11-11T21:50:08.2044
2015-11-11T21:51:03.2038 2015-11-11T21:51:23.2045
2015-11-11T21:52:10.3337 2015-11-11T21:52:38.1995
2015-11-14T19:42:45.6230 2015-11-14T19:43:08.7523
2015-11-14T19:44:03.7576 2015-11-14T19:44:18.7596
2015-11-14T19:45:08.7581 2015-11-14T19:45:28.7526
2015-11-14T19:46:15.3073 2015-11-14T19:46:38.7587
2015-11-14T19:47:23.5548 2015-11-14T19:47:33.7671
2015-11-19T19:18:13.9169 2015-11-19T19:19:11.4066
2015-11-19T19:29:40.6583 2015-11-19T19:30:36.4061
2015-11-19T19:31:23.2797 2015-11-19T19:32:11.4050
2015-11-19T19:32:59.4077 2015-11-19T19:34:01.4072
2015-11-26T18:50:23.5112 2015-11-26T18:55:17.3573
2015-11-26T18:56:06.9128 2015-11-26T19:01:22.3648
2015-11-26T19:09:02.1673 2015-11-26T19:14:42.4053
2015-11-28T18:40:57.4099 2015-11-28T18:42:08.0070
2015-11-28T18:42:58.0178 2015-11-28T18:44:08.0060
2015-11-28T18:44:54.2744 2015-11-28T18:46:13.0306
2015-12-01T17:00:00.0000 2015-12-01T17:00:33.9304
2015-12-01T17:00:00.0000 2015-12-01T17:00:33.9304
2015-12-01T17:00:00.0000 2015-12-01T17:00:33.9304
2016-01-27T17:00:00.0000 2016-01-26T17:00:00.0000
2016-01-27T17:00:00.0000 2016-01-26T17:00:00.0000
2016-01-27T17:00:00.0000 2016-01-26T17:00:00.0000
2016-02-05T17:00:00.0000 2016-02-04T17:00:00.0000
2016-02-05T17:00:00.0000 2016-02-04T17:00:00.0000
2016-02-05T17:00:00.0000 2016-02-04T17:00:00.0000
2016-02-07T17:00:00.0000 2016-02-06T17:00:00.0000
2016-02-07T17:00:00.0000 2016-02-06T17:00:00.0000
2016-02-07T17:00:00.0000 2016-02-06T17:00:00.0000
2016-02-10T17:00:00.0000 2016-02-09T17:00:00.0000
2016-02-10T17:00:00.0000 2016-02-09T17:00:00.0000
2016-07-08T04:36:17.0743 2016-07-08T04:40:47.0252
2016-07-08T04:41:31.5363 2016-07-08T04:45:29.0242
2016-07-08T04:46:14.0206 2016-07-08T04:49:05.6793
2016-07-11T04:24:03.0253 2016-07-11T04:25:21.0271
2016-07-11T04:26:09.0221 2016-07-11T04:27:11.0225
2016-07-11T04:27:56.7327 2016-07-11T04:29:14.1276
2016-07-14T04:33:37.0185 2016-07-14T04:34:33.0209
2016-07-14T04:35:18.0169 2016-07-14T04:36:13.0211
2016-07-14T04:37:00.0245 2016-07-14T04:37:58.0219
2016-07-16T04:32:00.4617 2016-07-16T04:32:53.0237
2016-07-16T04:33:39.0240 2016-07-16T04:34:31.4524
2016-07-16T04:35:17.0833 2016-07-16T04:36:06.0235
2016-07-20T04:29:25.1760 2016-07-20T04:31:06.0213
2016-07-20T04:31:53.0207 2016-07-20T04:33:39.0643
2016-07-20T04:34:25.3015 2016-07-20T04:36:09.0171
2016-07-20T04:36:55.0187 2016-07-20T04:38:39.0179
2016-07-20T04:39:26.0142 2016-07-20T04:41:00.0382
2016-07-20T04:41:45.9939 2016-07-20T04:43:03.7244
2016-07-20T04:43:48.2893 2016-07-20T04:44:59.0634
2016-07-23T03:51:04.0715 2016-07-23T03:52:24.0205
2016-07-23T03:53:09.0198 2016-07-23T03:54:28.0150
2016-07-23T03:55:12.9522 2016-07-23T03:56:27.0270
2016-07-23T03:57:14.0182 2016-07-23T03:58:27.1702
2016-07-23T03:59:12.9700 2016-07-23T04:00:30.0216
2016-07-25T04:09:01.0243 2016-07-25T04:10:08.0166
2016-07-25T04:10:52.4171 2016-07-25T04:12:00.0140
2016-07-25T04:12:45.0215 2016-07-25T04:13:51.0222
2016-07-25T04:14:36.0261 2016-07-25T04:15:40.0202
2016-08-04T03:10:34.0496 2016-08-04T03:12:20.0517
2016-08-04T03:13:06.0241 2016-08-04T03:14:48.0213
2016-08-04T03:15:32.7446 2016-08-04T03:17:14.0184
2016-08-04T03:17:59.3076 2016-08-04T03:19:45.0160
2016-08-04T03:20:32.6979 2016-08-04T03:22:18.0136

2016-08-06T04:11:38.0173 2016-08-06T04:13:14.4291
2016-08-06T04:14:01.0236 2016-08-06T04:15:12.0219
2016-08-06T04:15:58.0004 2016-08-06T04:17:12.0238
2016-08-06T04:17:58.1982 2016-08-06T04:19:10.0215
2016-08-06T04:19:56.0298 2016-08-06T04:21:05.0264
2016-08-09T02:52:12.0287 2016-08-09T02:53:54.7694
2016-08-09T02:54:40.0764 2016-08-09T02:56:23.0199
2016-08-09T02:57:08.0224 2016-08-09T02:58:52.2940
2016-08-09T02:59:37.5367 2016-08-09T03:01:21.0273
2016-08-09T03:02:05.5278 2016-08-09T03:03:39.0249
2016-08-12T03:39:24.1932 2016-08-12T03:40:24.0058
2016-08-12T03:41:09.0810 2016-08-12T03:42:15.3395
2016-08-12T03:43:00.3497 2016-08-12T03:44:05.3346
2016-08-12T03:44:51.0268 2016-08-12T03:45:59.0075
2016-08-12T03:46:44.1716 2016-08-12T03:47:47.0181
2016-08-15T03:56:44.0236 2016-08-15T03:57:49.0202
2016-08-15T03:58:35.0210 2016-08-15T03:59:46.0126
2016-08-15T04:00:30.2175 2016-08-15T04:01:39.7302
2016-08-15T04:02:26.0227 2016-08-15T04:03:35.0226
2016-08-15T04:04:22.0161 2016-08-15T04:05:37.0246
2016-08-23T03:22:34.0141 2016-08-23T03:24:42.7197
2016-08-23T03:25:29.0205 2016-08-23T03:27:34.0068
2016-08-23T03:28:20.0157 2016-08-23T03:30:26.0142
2016-08-23T03:31:12.7228 2016-08-23T03:33:17.7166
2016-08-23T03:34:04.0207 2016-08-23T03:36:06.0226
2016-08-24T02:27:50.0203 2016-08-24T02:30:20.0246
2016-08-24T02:31:04.6260 2016-08-24T02:33:23.6315
2016-08-24T02:34:09.0172 2016-08-24T02:36:31.0241
2016-08-24T02:37:17.2880 2016-08-24T02:39:57.0155
2016-08-24T02:40:43.0212 2016-08-24T02:42:59.7680
2016-08-26T03:07:16.3375 2016-08-26T03:08:18.0182
2016-08-26T03:09:03.3309 2016-08-26T03:10:06.3298
2016-08-26T03:10:52.2810 2016-08-26T03:12:00.0164
2016-08-26T03:12:45.0075 2016-08-26T03:13:51.0151
2016-08-26T03:14:37.1281 2016-08-26T03:15:40.0210

In [81]:
 df = pandas.read_sql_query("""select datetime, epocseconds - strftime("%s", "{0}"), event from 
            (select * from telemetry_time_lookup where 
            YearMonthDayHour =  strftime('%Y-%m-%d-%H', "{0}" ) 
        union all
            select * from telemetry_time_lookup where 
            YearMonthDayHour = (select yearmonthdayhour from telemetry_time_lookup 
                where YearMonthDayHour < strftime('%Y-%m-%d-%H', "{0}") order by 
                YearMonthDayHour desc limit 1)
            ) 
         where event != 'ExposureBegin' 
            and epocseconds - strftime("%s", "{0}") < 0
            order by  abs(strftime("%s", "{0}") - epocseconds) 
            limit 1
    """.format('2015-07-20T04:00:58.463989'), engine) 
    
    
    
print(df)

                   DateTime  \
0  2015-07-20T03:59:49.0316

   epocseconds - strftime("%s", "2015-07-20T04:00:58.463989")       Event
0                                              -69.0           EraseBegin

In [ ]:
        where event != 'ExposureBegin' 
        and epocseconds - strftime("%s", "{0}") < 0
        order by  abs(strftime("%s", "{0}") - epocseconds) 
        limit 100

In [ ]:
df = pandas.read_sql_query("""select distinct event from 
                        (select event from telemetry where 
                        DateTime between "2015-01-01T17:00:00.0000" and 
                        "2015-01-02T19:01:00.0000") 
                   
                        
                        """, engine)

df

In [ ]:
df = pandas.read_sql_query(
"""SELECT
  event,
  COUNT(*) AS `num`
FROM
  (select * from telemetry where 
                        DateTime between "2015-02-02T17:00:00.0000" and 
                        "2015-02-03T05:01:00.0000") 
GROUP BY
  event                  
                        """, engine)

df

In [ ]:
df = pandas.read_sql_query(
"""SELECT DateTime, event from (select * from telemetry where DateTime < "2015-01-02T19:01:00.0000"
    and (event == "ExposureEnd" or event == 'ReadoutEnd')) order by datetime
limit 100
                        """, engine)

df

In [ ]:
#df1 = pandas.read_sql_query("""
#    Select Datetimelocal, Mdptjulian from velocity 
#    where DateTimeLocal > "2015-04-01T17:01:00.0000"
#    and DateTimeLocal < "2015-04-10T17:01:00.0000"
#    order by DateTimeLocal limit 100
#
#    """, engine)
#df2 = pandas.read_sql_query(
#"""select datetime from telemetry 
#    order by (abs(strftime('%s',datetime) - abs(strftime('%s',"2015-04-02T01:31:44.832007"))))  limit 1
#                        """, engine)

#print(df1)

print(df2)

#print(pandas.read_sql_query("""
#    Select t.DateTime, v.Datetimelocal, v.Mdptjulian from (velocity v, telemetry t)
#    where v.DateTimeLocal > "2015-04-01T17:01:00.0000"
#    and v.DateTimeLocal < "2015-04-10T17:01:00.0000"
#    and (t.DateTime - v.DateTi 
#    order by DateTimeLocal limit 100
#
#    """, engine))

In [106]:
"""a {0} b {0} c {0}""".format('hi')

'a hi b hi c hi'

In [122]:
from datetime import date

In [125]:
datestr = "2015-01-02T19:01:00.0000"
date.fromtimestamp(datestr)

TypeError: an integer is required (got type str)