In [1]:
import os
from os import path
import sqlite3
global_sqlite_filename='../fulldatabase.sqlite'
import pandas

In [2]:
class col_types:
    TEXT = 'TEXT'
    INTEGER = 'INTEGER'
    REAL = 'REAL'
    BLOB = 'BLOB'
    NULL = 'NULL'
        
ct = col_types()
print(col_types.TEXT)

print(os.getcwd())
print(os.listdir())

TEXT
/Volumes/aaronthumb1/APF_telescope_behavior_study
['.git', 'basic_glance_of_data .ipynb', 'tiny_subset_data', '.ipynb_checkpoints', 'Create_and_populate_database.ipynb']

In [7]:
def create_database(sqlite_filename=global_sqlite_filename, replace_db=False):
    conn = sqlite3.connect(sqlite_filename)
    cursor = conn.cursor()
    return cursor
       
def get_telemetry_columns():
    columns = {'DateTime': ct.TEXT, 
                  'TARGET': ct.NULL,
                  'MIDPTFIN': ct.REAL,
                  'AZ': ct.REAL,
                  'EL': ct.REAL,
                  'AZENCPOS': ct.REAL,
                  'ELENCPOS': ct.REAL,
                  'AZENCVEL': ct.REAL,
                  'ELENCVEL': ct.REAL,
                  'AZFLWERR': ct.REAL,
                  'ELFLWERR': ct.REAL,
                  'OUTFILE': ct.REAL,
                  'OBSNUM': ct.REAL,
                  'MODE': ct.REAL,
                  'AVG_FWHM': ct.REAL,
                  'M5WIND': ct.REAL,
                  'M5WINDAZ': ct.REAL,
                  'TAVERAGE': ct.REAL,
                  'TM1S210': ct.REAL,
                  'TM2CAIR': ct.REAL,
                  'OFFSET_AZ': ct.REAL,
                  'OFFSET_EL': ct.REAL,
                  'RMSOFFSET_AZ': ct.REAL,
                  'RMSOFFSET_EL': ct.REAL,
                  'AVGOFFSET_AZ': ct.REAL,
                  'AVGOFFSET_EL': ct.REAL,
                  'HATCHPOS': ct.TEXT,
                  'EVENT': ct.TEXT}    
    return columns
    
def create_telemetry_table(cursor):        
    columns_table1 = get_telemetry_columns()
    l = ['{} {}'.format(k,v) for (k, v) in columns_table1.items()]
    print(len(l))
    full_list = ', '.join(l)
    sql_create_string = 'CREATE TABLE telemetry (' + full_list + ', PRIMARY KEY (DateTime))'
    print(sql_create_string)        
        
    # Creating a new SQLite table 
    cursor.execute('drop table if exists telemetry')
    cursor.execute(sql_create_string)
    
    return

def open_connection(sqlite_filename=global_sqlite_filename):
    dburi = 'file:{}?mode=rw'.format(sqlite_filename)
    conn = sqlite3.connect(dburi, uri=True)
    return conn

In [19]:
cursor = create_database()
create_telemetry_table(cursor)

28
CREATE TABLE telemetry (DateTime TEXT, TARGET NULL, MIDPTFIN REAL, AZ REAL, EL REAL, AZENCPOS REAL, ELENCPOS REAL, AZENCVEL REAL, ELENCVEL REAL, AZFLWERR REAL, ELFLWERR REAL, OUTFILE REAL, OBSNUM REAL, MODE REAL, AVG_FWHM REAL, M5WIND REAL, M5WINDAZ REAL, TAVERAGE REAL, TM1S210 REAL, TM2CAIR REAL, OFFSET_AZ REAL, OFFSET_EL REAL, RMSOFFSET_AZ REAL, RMSOFFSET_EL REAL, AVGOFFSET_AZ REAL, AVGOFFSET_EL REAL, HATCHPOS TEXT, EVENT TEXT, PRIMARY KEY (DateTime))

In [9]:
conn = open_connection()
cursor = conn.cursor()

In [10]:
def populate_telemetry_table(c):
    pass


telemetry_columns = get_telemetry_columns()
print([k for (k, v) in telemetry_columns.items()])

['DateTime', 'TARGET', 'MIDPTFIN', 'AZ', 'EL', 'AZENCPOS', 'ELENCPOS', 'AZENCVEL', 'ELENCVEL', 'AZFLWERR', 'ELFLWERR', 'OUTFILE', 'OBSNUM', 'MODE', 'AVG_FWHM', 'M5WIND', 'M5WINDAZ', 'TAVERAGE', 'TM1S210', 'TM2CAIR', 'OFFSET_AZ', 'OFFSET_EL', 'RMSOFFSET_AZ', 'RMSOFFSET_EL', 'AVGOFFSET_AZ', 'AVGOFFSET_EL', 'HATCHPOS', 'EVENT']

In [ ]:
#telemetry1df = pandas.read_csv('tiny_subset_data/subset_2015_01_01_02_offsets', 
                               sep='\t', skiprows=0, header=None, names=telemetry_columns)
#print(telemetry1df)
#telemetry1df.to_sql('telemetry', conn, if_exists='append', index=False)

In [11]:
telemetrybig = pandas.read_csv('../telemetry_by_year/2015/2015_01_01_02_offsets', 
                               sep='\t', skiprows=1, header=None, names=telemetry_columns)

In [12]:
telemetrybig.to_sql('telemetry', conn, if_exists='append', index=False)

In [20]:
def populate_telemetry_db():
    dirname = '../telemetry_by_year/2015/'
    #print(len(os.listdir(dirname)))
    filenames = [os.path.join(dirname, x) for x in os.listdir(dirname)]
    #print(filenames)
    n=0
    for csv_file in filenames:
        df = pandas.read_csv(csv_file, 
                               sep='\t', skiprows=1, header=None, names=telemetry_columns)
        df.to_sql('telemetry', conn, if_exists='append', index=False)
        n = n+1
        if n%25==0:
            print(n)
    
populate_telemetry_db()

/Users/aaron/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3191: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

IntegrityError: UNIQUE constraint failed: telemetry.DateTime

In [ ]:
populate_telemetry_db()